<p id="notice"><%= notice %></p>

<h2>User profile</h2>

<%= image_tag @profile.avatar.url(:thumb) %>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.user.nickname %>
</p>

<p>
	<strong>Followers</strong>
	<%= @profile.user.followers_count %>
</p>

<p>
	<strong>Follow</strong>
	<%= @profile.user.follow_count %>
</p>

<p>
	<strong>City</strong>
	<%= @profile.city %>
</p>

<p>
	<strong>Level</strong>
	<%= @profile.level %>
</p>

<% if user_signed_in? && (@profile.user == current_user || current_user.admin?) %>
<%= link_to 'Edit', edit_profile_path %> | 
<% end %>
<%= link_to 'Back', users_path %>