<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @race.image.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @race.date %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @race.locality %>
</p>

<p>
  <strong>Description:</strong>
  <%= @race.description %>
</p>
<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
