<p id="notice"><%= notice %></p>

<h1>Users list</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Email</th>
      <th>Registrations</th>
      <th>Followers</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
        <td><%=link_to user.races.count, race_register_list_races_path(:user => user) %></td>
        <td><%= link_to user.followers_count, users_list_followers_path(:user => user) %></td>
        <td><%= link_to 'Follow', users_follow_path(:user => user) %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>