<p id="notice"><%= notice %></p>

<h2>User details</h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
	<strong>Followers</strong>
	<%= @user.followers_count %>
</p>

<p>
	<strong>Follow</strong>
	<%= @user.follow_count %>
</p>

<p>
	<strong>Level</strong>
	<%= @user.profile.level %>
</p>

<p>
	<strong>Locality</strong>
	<%= @user.profile.locality %>
</p>


<%= link_to 'Back', users_path %>