<%= link_to 'Races', races_path %>
<%= link_to 'Users', users_path %>

<%= link_to 'Sign in', new_user_session_path %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% if signed_in? %>
<p>Logged as : <%= current_user.email %></p>
<p><%= link_to 'My profile', profile_path(current_user.profile) %></p>
<% else %>
<p>Not logged</p>
<% end %>
<hr>