<!DOCTYPE html>
<html>
<head>

	<script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>


  <title><%= yield(:title) %> | Runhub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render 'shared/navbar' %>
<div class="container" >

	<div class="main-page-content <%= controller.controller_name %>">

		<div class="row">
			<%= yield %>
		</div>

	</div>
	
</div>

</body>
</html>
